# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesBeforeTrailingComments: 1
AlignTrailingComments: false
